<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Todays Events</h3>
      <br><br><br>
      <div ng-if="no_items">{{msg}}</div>
      <div class="list">
        <div ng-repeat="item in items">  
          <a class="item item-thumbnail-left" href="#/home/event/{{item.id}}">
            <img src="{{root}}{{item.photo}}" />
            <h2>{{item.title}}</h2>
            <p>{{item.description | limitTo : 15 }}</p>
          </a>
        </div>
      </div>
    </div></div>
  </ion-content>
</ion-view>